<header class="navigation">
  <div class="menu-wrapper">
    <%= link_to image_tag('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png'), '#', class: "logo" %>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-link">
          <%= link_to "About", about_path %>
        </li>
        <% if user_signed_in? %>
       <li class="nav-link"><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li class="nav-link">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
           <li class="nav-link"><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="navigation-tools">
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div>
  </div>
</header>

<div class="wrap">